.button{
  border: 1px solid transparent;
  background: transparent;
  border-radius: .25rem;
  color: currentColor;
  text-decoration: none;
  display: inline-block;
  font: var(--button-button);
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  padding-block-start: .5rem;
  padding-block-end: .5rem;
  cursor: pointer;
  outline: none;
}
.button:active{
  transform: scale(.9);
}
.button.is-primary{
  color: var(--white);
  background-color: var(--blue10);
}
.button.is-secondary{
  border: 1px solid var(--gray20);
  padding-inline-start: .75rem;
  padding-inline-end: .75rem;
}
.button.is-primary:hover,
.button.is-primary:focus{
  background-color: var(--blue30);
}
.button.is-secondary:hover,
.button.is-secondary:focus,
.button:hover,
.button:focus,
.button.is-rounded:hover,
.button.is-rounded:focus,
.button.is-compact:hover,
.button.is-compact:focus{
  background-color: var(--gray10);
}
.button.is-compact{
  border-radius: 50%;
  padding: .5rem;
  background-color: var(--white);
}
.button.is-rounded{
  border-radius: 1.25rem;
  color: var(--blue10);
}
.button i{
  font-size: 1.5rem;
  color: var(--gray50);
}
.button i,
.button span{
  vertical-align: middle;
}
.button.is-shadowed{
  box-shadow: 1.0719px 30.9815px 92px rgba(0, 0, 0, 0.0274815), 0.412881px 11.9336px 29.3037px rgba(0, 0, 0, 0.0425185), 0.0873403px 2.52442px 7.4963px rgba(0, 0, 0, 0.07);
}
@media screen and (prefers-color-scheme: dark){
  .button.is-rounded{
    background-color: var(--gray50);
  }
  .button i{
    color: var(--white);
  }
  .button.is-shadowed{
    box-shadow: 1.0719px 30.9815px 92px rgba(255, 255, 255, 0.027), 0.412881px 11.9336px 29.3037px rgba(255, 255, 255, 0.043), 0.0873403px 2.52442px 7.4963px rgba(255, 255, 255, 0.07);
  }
}