.calendarDay{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  position: sticky;
  inset-block-start: 0;
  background-color: var(--white);
  border-block-end: 1px solid currentColor;
}
.calendarDay a{
  color: currentColor;
  text-decoration: none;
  outline: none;
}
.calendarDay a:hover span:nth-of-type(2),
.calendarDay a:focus span:nth-of-type(2){
  background: var(--gray10);
}
.calendarDay span:nth-of-type(1){
  font: var(--body1-medium);
}
.calendarDay span:nth-of-type(2){
  font: var(--subtitle-subtitle1);
  display: inline-block;
  inline-size: 2.75rem;
  line-height: 2.75rem;
  border-radius: 50%;
}
.calendarDay::before{
  content: '';
  inline-size: 1px;
  block-size: 2rem;
  background-color: currentColor;
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
}
.calendarDay.is-selected span:nth-of-type(1){
  color: var(--blue10);
}
.calendarDay.is-selected span:nth-of-type(2){
  background-color: var(--blue10);
  color: var(--white);
}
.calendarDay.is-selected a:hover span:nth-of-type(2),
.calendarDay.is-selected a:focus span:nth-of-type(2){
  background-color: var(--blue30);
}