body{
  background-color: rgb(48, 48, 48);
}
h2{
  color: white;
}
.grid-container{
  display: grid;
  /* grid-template-columns: 100px 200px 50px; */
  
  /* Se le pueden colocar nombres  a las lineas tanto de filas y columnas (entre corchetes [])*/
  grid-template-columns: [inline-start] 100px [linea2] 200px [linea3] 50px [lineaFinal];
  grid-template-rows: 70px 120px 90px;
}
.grid-item{
  box-shadow: inset 0 0 0 2px blueviolet;
  color: white;
  counter-increment: item;
  text-align: center;
}
.grid-item::before{
  content: counter(item);
}
.grid-item:nth-of-type(4){
  background-color: coral;
  /* Se le puede indicar al elemento en que linea comienza y termina tanto en filas y columnas */
  grid-column-start: 1;
  grid-column-end: -1;
  grid-column-end: 3;
  /* El valor de '-1' indica la linea final si no se sabe cuantas lineas hay o el nombre de la linea final tanto en filas y columnas */
  grid-row-start: 1;
  grid-row-end: 4;
}
/* ---------------------- Ejemplo 2 ---------------------- */
.grid-container2{
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: 100px 300px;
  grid-template-rows: 70px 250px;
}
.grid-item2{
  box-shadow: inset 0 0 0 3px yellow;
  color: white;
}
.grid-item2:nth-of-type(1){
  grid-column-start: 1;
  grid-column-end: -1;
}