<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iJCode - Homero</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div class="grid">
    <img class="grid-tostadora" src="./images/tostadora.gif" alt="Tostadora de homero">
    <img class="grid-campana" src="./images/campana.gif" alt="Campana de homero">
    <img class="grid-reloj" src="./images/reloj.gif" alt="Reloj de homero">
    <img class="grid-dios" src="./images/dios.gif" alt="Dios de homero">
    <img class="grid-gusano" src="./images/gusano.gif" alt="Gusano de homero">
    <img class="grid-boca" src="./images/boca.gif" alt="Boca de homero">
  </div>
</body>
</html>