.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 1.5rem;
  padding-inline-start: 1.5rem;
  border-block-end: 1px solid var(--gray10);
}
.header-primary{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header-logo{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.header-logo a i{
  vertical-align: middle;
  /* border: 1px solid red; */
  display: inline-block;
  background-image: url('../image/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  block-size: 3rem;
  inline-size: 10.25rem;
}
.header-secondary{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header-secondary a img{
  vertical-align: middle;
}
@media screen and (prefers-color-scheme: dark){
  .header-logo a i{
    background-image: url('../image/logo-dark.png');
  }
}