.search-button{
  color: var(--gray20);
  background-color: var(--gray10);
  --max-inline-size: 12.25rem;
  max-inline-size: var(--max-inline-size);
  inline-size: var(--max-inline-size);
  text-align: start;
}
.search-button i{
  font-size: 1rem;
  margin-inline-end: .25rem;
}
@media screen and (prefers-color-scheme: dark){
  .search-button{
    color: var(--gray30);
  }
}