.menuItem a{
  align-items: center;
  block-size: 2.5rem;
  display: flex;
  font: var(--button);
  gap: .5rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}
.menuItem.is-active a{
  box-shadow: inset 4px 0 0 var(--primary);
  color: var(--white);
}
[class^="icon-"]{
  font-size: 1.5rem;
}
.menuItem a:hover{
  text-decoration: none;
}

.menuItem.is-active .icon-home::before{
  content: "\e90a";
}
.menuItem.is-active .icon-search::before{
  content: "\e914";
}