.slider{
  background-color: var(--gray10);
  /* border: 1px solid red; */
  block-size: .25rem;
  border-radius: .25rem;
  /* inline-size: 200px; */
}
.slider-progress{
  background-color: var(--white);
  block-size: inherit;
  border-radius: inherit;
  inline-size: 20%;
  position: relative;
}
.slider-button{
  background-color: var(--white);
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1/1;
  block-size: 200%;
  display: none;
  left: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slider:hover .slider-progress{
  background-color: var(--primary);
}
.slider:hover .slider-button{
  display: block;
}